
/*  Paragraph form   */
.paragraph--form-title{
    font-size: larger;
    border-top: 1px solid #E4BA77;
    border-bottom: 1px solid #E4BA77;
    width: 300px;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

.paragraph--form-form{
    margin-left: 50px;

}